@import './../../../style/variables';

.teamSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.sectionTitle {
	font-weight: 700;
	font-size: 36px;
	line-height: 167%;
	color: $title-color;
	text-align: center;
}
.sectionSubtitle {
	font-size: 18px;
	text-align: center;
	color: $black;
	opacity: 0.5;
	padding-bottom: 65px;
}
.teamMembers {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 100%;
	max-width: 1088px;
}
.teamMember {
	width: 100%;
	max-width: 512px;
	padding: 0 34px;
}
.imageWrapper {
}

.memberPhoto {
}
.videoButton {
}
.videoTitle {
}
.memberInfo {
}
.role {
}
.name {
}
.description {
}
.skillsContainer {
}
.skillsGrid {
}
.skillItem {
}
.skillIcon {
}
.skillName {
}
