@import './../../style/variables';
// @import '././../../style/style';

@mixin mediaTablet {
	@media screen and (max-width: $tablet) {
		@content;
	}
}

.headerMenu {
	display: none;
	position: absolute;

	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.headerMenu.headerMenuActive {
	display: block;
	z-index: 9;
}
.headerMenuActive::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(135, 135, 135, 0.6);
	z-index: -1;
}

.nav {
	display: block;
	width: 50%;
	height: 100%;
	background-color: $white;
	opacity: 1;
	padding-top: 138px;
	padding-bottom: 89px;
	z-index: 10;
}

.navList {
	display: flex;
	flex-direction: column;
	gap: 36px;
	margin-left: 100px;
	background-color: $white;

	a {
		color: $title-color;
		font-weight: 700;
		font-size: 22px;
		line-height: 127%;
	}
}

// .header__nav {
// 	@include mediaTablet {
// 		display: none;
// 	}
// }
.menuHeader {
	position: absolute;
	top: 24px;
	left: 48px;
	display: flex;
	justify-content: start;
	align-items: center;
}

.logo {
	display: none;
	z-index: 12;
}
.logoActive {
	display: block;
}

.navBtn {
	border-radius: 4px;
	width: 52px;
	height: 52px;
	box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.1);
	background: $white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navIconBtn {
	height: 13px;
	width: 18px;
}
.navIcon {
	position: relative;
	width: 18px;
	height: 2px;
	background-color: $black;
	border-radius: 1px;
}

.navIcon::before,
.navIcon::after {
	content: '';
	display: block;

	position: absolute;
	left: 0;

	width: 18px;
	height: 2px;
	border-radius: 1px;

	background-color: $black;
	transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
}

.navIcon::before {
	top: calc(1px * -8);
}

.navIcon::after {
	top: calc(1px * 8);
}

.navIcon.navIconActive {
	background-color: transparent;
	z-index: 9;
}

.navIcon.navIconActive::before,
.navIcon.navIconActive::after {
	top: 0;
	transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
}

.navIcon.navIconActive::before {
	transform: rotate(45deg);
}

.navIcon.navIconActive::after {
	transform: rotate(-45deg);
}
