@import './reset';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import './mixins';

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: $main-color;
	color: $black;
	font-size: 14px;
}
.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}
p {
	color: $black;
	font-size: 14px;
	line-height: 24px;
	opacity: 50%;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1270px;
	// background-color: red;

	&--wide {
		max-width: 1440px;

		@media screen and (max-width: 1270px) {
			max-width: 1270px;
		}
	}
}

.no-scroll {
	overflow-y: hidden;
}
