$main-color: #f2f2f2;
$accent: #278fb4;
$footer-bg: #126893;
$white: #ffffff;
$black: black;
$gray: #979797;
$title-color: #342f45;

$netbook: 1230px;
$tablet: 1000px;
$mobile: 810px;

$memberBlock-width: 512px;

// body {
// 	font-family: 'Roboto', sans-serif;
// 	font-weight: 400;
// 	font-style: normal;
// 	background-color: $main-color;
// 	color: $black;
// 	font-size:1832 14px;
// }
